<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=148554958654775";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

        <div id="banner">
            <h1>We connect you to a new group of guys or gals in your city.</h1>
        </div>


    <div class="container">
        <div id="butterfly-title">
            <img src="img/butterflies-logo.png" alt="">
        </div>
        <div id="butterfly-step1" class="butterfly-steps">
            <h1>Apply via <span id="butterfly-facebook">Facebook</span></h1>
            <p>You'll receive a Facebook request for our<br /> resident <strong>matchmaker.</strong></p>
           <img src="img/butterflies-step1.png" alt="">
        </div>
        <div id="butterfly-path1">
           <img src="img/butterfly-path1.png" alt="">
           </div> 
        <div id="butterfly-step2" class="butterfly-steps">
            <h1>We'll <span id="butterfly-match">match</span> you up.</h1>
            <p>Don't worry, we'll let you stalk potential friends<br /> and get <strong>your approval</strong> before we proceed.</p>
            <img src="img/butterflies-step2.png" alt=""> 
        </div>
        <div id="butterfly-path2">
            <img src="img/butterfly-path2.png" alt="">
            </div> 
        <div id="butterfly-step3" class="butterfly-steps">
            <h1>Grab <span id="butterfly-friends">1 <span id="superscript">or</span> 2 friends</span> and go.</h1>
            <p>Prepay $3 (covers your first appetizer) and just<br /> show up at the time and place <strong>you pick</strong>.</p>
            <img src="img/butterflies-step3.png" alt=""> 
            
        </div>
        <div id="butterfly-path3">
            <img src="img/butterfly-path3.png" alt="">
            </div> 
        <div id="butterfly-submit">
            <form id="butterfly-form" action="">
                <input type="text" value="http://facebook.com/yourprofile" id="butterfly-input" onblur="if(this.value == '') { this.value='http://facebook.com/yourprofile'}" onfocus="if (this.value == 'http://facebook.com/yourprofile') {this.value=''}"/><br />
                <input type="submit" value="Apply"  class="button" />
            </form>
            <div id="butterfly-circle">       
            <img src="img/butterfly-circle.png" alt="">  
            </div>
        </div>
        <div id="butterfly-questions">
            <h3>Questions you might have</h3>
            <div id="butterfly-faq">
                <img src="img/butterfly-faq1.png" alt="">
                <img src="img/butterfly-faq2.png" alt="">
                <img src="img/butterfly-faq3.png" alt="">
            </div>
            <div id="butterfly-texting">
                <img src="img/butterfly-texting.png" alt="">
            </div>
            
        </div>
        
    </div>






<div style="display:none;">
    <div id="hidden">
        <h1>Thank you for your request!</h1>
        <h2>We will be contacting you shortly to get things started and distribute your custom url.</h2><br />
        <h2>Take a second to <a href="#">browse our restaurants</a> while you're here.</h2>
    <div class="colorbox-social">
        <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FFoodCircles&amp;send=false&amp;layout=button_count&amp;width=200&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:21px;" allowTransparency="true"></iframe>
        <a href="https://twitter.com/foodcircles" class="twitter-follow-button" data-show-count="false">Follow @foodcircles</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
        
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="js/jquery.colorbox.js"></script>
<script>
            $(document).on('submit', '#butterfly-form', function(event){

            // this prevents the default submit
            event.preventDefault();

            // this gets the form data into formData variable
            var formData = $(this).serialize()

            // this makes the ajax post (change the url)
            $.post('', formData);

            $.colorbox({inline:true, href:"#hidden"});
        });
</script>

<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
<script>
$('.teampick a').on('click', function(e) {
    e.preventDefault();
    var $this = $(this);
    if ($this.parent().is('.active')) return;
    $('.teampick .active').removeClass('active');
    $this.parent().addClass('active');
    
    var $current = $('.teammember.active'),
        $dest    = $($this.attr('href')),
        offset   = $current.position();
    
    $current.css({
        top: offset.top,
        left: offset.left,
        position: 'absolute'
    }).animate({
        opacity: 0
    }, function(){
        $(this).removeClass('active').css({
            position: 'static',
            opacity: 1
        });
    });
    $dest.css({
        opacity: 0
    }).addClass('active').animate({
        opacity: 1
    });
    
});
</script>