<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=148554958654775";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

   <div id="headline">
    <div class="container">

        <h1>Get Lunch Together</h1>
        <p>CHAT ON A MAP + COMPANY TRACKING + COORDINATE PUBLICALLY OR PRIVATELY</p>
        <a href="#companies-form"><div class="button top-button">Request Invite</div></a>
        <div id="chatapp-image">        
                <img src="img/companies-chatapp.png" alt="">
        </div>

    </div> <!--container -->
    </div>

    <div id="white-section">

        <div class="container">

            <div id="companies-chat" class="grid">
                <div class="left-section">
                    <h1>Chat on a map</h1>
                    <p>Some random copy goes here. Some random copy goes here. Some random copy goes here.</p>
                </div>
                <div class="right-section">
                    <img src="img/companies-chat.png" alt="">
                </div>
                
            </div>

            <div id="companies-tracking" class="grid">

                 <div class="left-section">
                    <img src="img/companies-tracking.png" alt="">
                </div>
                <div class="right-section">
                    <h1>Company tracking</h1>
                    <p>Some random copy goes here. Some random copy goes here. Some random copy goes here.</p>
                </div>
                
            </div>

            <div id="companies-coordinate" class="grid">

                 <div class="left-section">
                    <h1>Coordinate Publicly Or Privately</h1>
                    <p>Some random copy goes here. Some random copy goes here. Some random copy goes here.</p>
                    
                </div>
                <div class="right-section">
                    <img src="img/companies-coordinate.png" alt="">
                </div>
                
            </div>
            
            <div id="companies-form">

            <form action="" method="post" id="comp_form">
                <input type="text" value="Company" name="company" onblur="if(this.value == '') { this.value='Company'}" onfocus="if (this.value == 'Company') {this.value=''}"><br />
                <input type="text" value="Name" onblur="if(this.value == '') { this.value='Name'}" onfocus="if (this.value == 'Name') {this.value=''}"><br />
                <input type="text" value="Email" onblur="if(this.value == '') { this.value='Email'}" onfocus="if (this.value == 'Email') {this.value=''}"><br />
                <input type="submit" value="Request Invite" class="button">
            </form>
            <p><strong>Get Signed Up</strong></p>
            <p>Currently open to companies only. Sign up to get more info.</p>
            </div>


        </div> <!-- container -->

    </div>



 <div style="display:none">  
    <div id="hidden">
        <h1>Thank you for signing up. We'll contact you soon to get your campaign moving.</h1><br />
        <h2><a href="#">View Restaurants</a></h2>
    <div class="colorbox-social">
        <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FFoodCircles&amp;send=false&amp;layout=button_count&amp;width=200&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:21px;" allowTransparency="true"></iframe>
        <a href="https://twitter.com/foodcircles" class="twitter-follow-button" data-show-count="false">Follow @foodcircles</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
    </div>   
</div>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="js/jquery.colorbox.js"></script>
<script>
            $(document).on('submit', '#comp_form', function(event){

            // this prevents the default submit
            event.preventDefault();

            // this gets the form data into formData variable
            var formData = $(this).serialize()

            // this makes the ajax post (change the url)
            $.post('', formData);

            $.colorbox({inline:true, href:"#hidden"});
        });
</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    

<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
<script>
$('.teampick a').on('click', function(e) {
    e.preventDefault();
    var $this = $(this);
    if ($this.parent().is('.active')) return;
    $('.teampick .active').removeClass('active');
    $this.parent().addClass('active');
    
    var $current = $('.teammember.active'),
        $dest    = $($this.attr('href')),
        offset   = $current.position();
    
    $current.css({
        top: offset.top,
        left: offset.left,
        position: 'absolute'
    }).animate({
        opacity: 0
    }, function(){
        $(this).removeClass('active').css({
            position: 'static',
            opacity: 1
        });
    });
    $dest.css({
        opacity: 0
    }).addClass('active').animate({
        opacity: 1
    });
    
});
</script>


 
<script>

//for smooth scrolling

    $(function() {
    
        function filterPath(string) {
            return string
            .replace(/^\//,'')
            .replace(/(index|default).[a-zA-Z]{3,4}$/,'')
            .replace(/\/$/,'');
        }
    
        var locationPath = filterPath(location.pathname);
        var scrollElem = scrollableElement('html', 'body');
    
        // Any links with hash tags in them (can't do ^= because of fully qualified URL potential)
        $('a[href*=#]').each(function() {
    
            // Ensure it's a same-page link
            var thisPath = filterPath(this.pathname) || locationPath;
            if (  locationPath == thisPath
                && (location.hostname == this.hostname || !this.hostname)
                && this.hash.replace(/#/,'') ) {
    
                    // Ensure target exists
                    var $target = $(this.hash), target = this.hash;
                    if (target) {
    
                        // Find location of target
                        var targetOffset = $target.offset().top;
                        $(this).click(function(event) {
    
                            // Prevent jump-down
                            event.preventDefault();
    
                            // Animate to target
                            $(scrollElem).animate({scrollTop: targetOffset}, 400, function() {
    
                                // Set hash in URL after animation successful
                                location.hash = target;
    
                            });
                        });
                    }
            }
    
        });
    
        // Use the first element that is "scrollable"  (cross-browser fix?)
        function scrollableElement(els) {
            for (var i = 0, argLength = arguments.length; i <argLength; i++) {
                var el = arguments[i],
                $scrollElement = $(el);
                if ($scrollElement.scrollTop()> 0) {
                    return el;
                } else {
                    $scrollElement.scrollTop(1);
                    var isScrollable = $scrollElement.scrollTop()> 0;
                    $scrollElement.scrollTop(0);
                    if (isScrollable) {
                        return el;
                    }
                }
            }
            return [];
        }
    
    });
</script>

