<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=148554958654775";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">
        <h1>Capture funds through your community</h1>

    <div id="nonprofits-featured">

    
            <div id="iphone-image">
                <img src="img/nonprofits-iphone.png" alt="">
            </div>

            <div id="grtab">
                <a href="#"><img src="img/nonprofits-grtab.png" alt="" > </a>
            </div>


    </div>

    

        <div id="nonprofits-steps">

            <div id="nonprofits-step1" class="steps-text">
                <p><span class="bignumber">1</span></p>
                <p class="steps-copy">We create a free mobile site and app for your supporters with integrated FoodCircles dining. Every purchase made on the site/app is 100% sent to you via check.</p>
            </div>

            <div id="nonprofits-step2">

                <div class="steps-text"> 
                <p><span class="bignumber">2</span></p>
                <p class="steps-copy">You talk to restaurants you know about joining your FoodCirles app. The partnership goes beyond your typical 1-time event and requires little upkeep post-signup.</p>
                </div>
                
            </div>

            <div id="nonprofits-step3" class="steps-text">
                <p><span class="bignumber">3</span></p>
                <p class="steps-copy">People use your app whenever they eat out. Plus we launch FoodCircles in your area. Both bring funds and awareness 365 days/yr without taking up staff time or event bandwidth.</p>
            </div>

            <div id="nonprof-form">

             <form id="nonprofit-form" method="post" action="">
                    <input type="text" value="Organization" size="33" onblur="if(this.value == '') { this.value='Organization'}" onfocus="if (this.value == 'Organization') {this.value=''}"><br />
                    <input type="text" value="Name" size="33" onblur="if(this.value == '') { this.value='Name'}" onfocus="if (this.value == 'Name') {this.value=''}"><br />
                    <input type="text" value="Email" size="33" onblur="if(this.value == '') { this.value='Email'}" onfocus="if (this.value == 'Email') {this.value=''}"><br />
                    <input type="text" value="We solve..." size="33" onblur="if(this.value == '') { this.value='We solve...'}" onfocus="if (this.value == 'We solve...') {this.value=''}"><br />
                    <input type="submit" value="Submit" class="button">
            </form>

            </div>
            
        
        </div>

</div> <!-- container -->
        






<div style="display:none;">
    <div id="hidden">
        <h1>Thank you for your request!</h1>
        <h2>We will be contacting you shortly to get things started and distribute your custom url.</h2><br />
        <h2>Take a second to <a href="#">browse our restaurants</a> while you're here.</h2>
        <div class="colorbox-social">
        <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FFoodCircles&amp;send=false&amp;layout=button_count&amp;width=200&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:21px;" allowTransparency="true"></iframe>
                <a href="https://twitter.com/foodcircles" class="twitter-follow-button" data-show-count="false">Follow @foodcircles</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
        
    </div>
</div>

<div style="display:none;">
    <div id="hidden2">
        <h1>Since we're already in Grand Rapids...</h1>
        <h2>Local restaurants are already on board, so your involvement is slightly different.</h2>
        
        <div class="grmodal-steps">
            <div class="grmodal-num">
            <img src="img/nonprofits-step1.png" alt="">
            </div>
            <div class="grmodal-des">
            <h2>Tell us who you are.</h2>
            </div>
        </div>
        <div class="grmodal-steps">
            <div class="grmodal-num">
            <img src="img/nonprofits-step2.png" alt="">
            </div>
            <div class="grmodal-des">
            <h2>We'll give you a unique url for your organization</h2>
            <h3>e.g. www.foodcircles.net/kids/foodbasket</h3>
            </div>
        </div>
        <div class="grmodal-steps">
            <div class="grmodal-num">
            <img src="img/nonprofits-step3.png" alt="">
            </div>
            <div class="grmodal-des">
            <h2>the funds will go directly to you</h2>
            </div>
        </div>
        <div id="grmodal-form">
        <form id="gr-form" action="">
            <input type="text" value="Organization"><br />
            <input type="text" value="Your Name"><br />
            <input type="text" value="Email"><br />
            <input type="text" value="We solve... for..."><br />
            <input type="submit" value="Request Invite" class="button">
        </form>
        </div>
    </div>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="js/jquery.colorbox.js"></script>
<script>
        $(document).on('submit', '#nonprofit-form', function(event){

            // this prevents the default submit
        event.preventDefault();

            // this gets the form data into formData variable
        var formData = $(this).serialize();

            // this makes the ajax post (change the url)
        $.post('', formData);

        $.colorbox({inline:true, href:"#hidden"});
    });
</script>

<script>
    $('#grtab').colorbox({inline:true, href:"#hidden2"});
</script>

<script>

            $(document).on('submit', '#gr-form', function(event){

            // this prevents the default submit
            event.preventDefault();

            // this gets the form data into formData variable
            var formData = $(this).serialize();

            // this makes the ajax post (change the url)
            $.post('', formData);

            $.colorbox({inline:true, href:"#hidden"});
        });
</script>
    

