#banner {
	width: 100%;
	height: 50px;
	text-align: center;
	position: relative;
	top: 180px;
	background: #8998c3; /* Old browsers */
background: -moz-linear-gradient(top,  #8998c3 0%, #8998c3 19%, #8998c3 87%, #515c7b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8998c3), color-stop(19%,#8998c3), color-stop(87%,#8998c3), color-stop(100%,#515c7b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #8998c3 0%,#8998c3 19%,#8998c3 87%,#515c7b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #8998c3 0%,#8998c3 19%,#8998c3 87%,#515c7b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #8998c3 0%,#8998c3 19%,#8998c3 87%,#515c7b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #8998c3 0%,#8998c3 19%,#8998c3 87%,#515c7b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8998c3', endColorstr='#515c7b',GradientType=0 ); /* IE6-9 */

}

#banner h1 {
	font-size: 25px;
	color: white;
	text-shadow: 2px 2px #515c7b;
	position: relative;
	top: 4px;
	font-family: "museo-slab", sans-serif;
}

#butterfly-title {
	text-align: center;
	margin-bottom: 100px;
}

#butterfly-step1 {
	margin-top: 30px;
}

#butterfly-step2 {
	margin-top: 20px;
	position: relative;
	left: 500px;
	width: 425px;
}

#butterfly-step3 {
	margin-top: 50px;
}

#butterfly-submit {
	text-align: center;
	display: block;
	margin: 10px auto;
	height: 220px;
	width: 330px;
}

#butterfly-submit input {
	width: 100%;
	margin-top: 10px;
	font-family: helvetica;
	font-size: 14px;
	line-height: 18px;
}

#butterfly-questions {
	text-align: center;
	margin: 20px 0 100px 0;
}

#butterfly-faq {
	display: inline-block;
}

#butterfly-texting {
	margin-top: 100px;
}

#butterfly-path1 {
	display: inline-block;
	position: relative;
	top: 200px;
	left: -150px;
}

#butterfly-path2 {
	display: inline-block;
	position: absolute;
	right: 475px;
	top: 220px;
	
}

#butterfly-path3 {
	position: relative;
	left: 200px;
}

#butterfly-circle {
	display: inline-block;
	position: relative;
	top: -180px;
	left: -80px;
	z-index: -1;
}

#butterfly-apply {
	margin-top: 10px;
}

#butterfly-questions h3 {
	margin-bottom: 20px;
	font-size: 20px;
    font-family: "museo-slab", sans-serif;
    color: #7e7e7e;
    font-style: italic;
}

#butterfly-form .submit-image {
	margin: 10px 0 10px 0;
	color: white;
	font-size: 24px;
	font-weight: 500;
	padding: 14px 0;
	width: 350px;
	border-radius: 8px;
	background-color: #b46c6d;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b46c6d), to(#a44b4c));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #b46c6d, #a44b4c);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #b46c6d, #a44b4c);

	/* IE 10 */
	background: -ms-linear-gradient(top, #b46c6d, #a44b4c);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #b46c6d, #a44b4c);
}

#butterfly-form .submit-image:hover {
	background-color: #6c1b1b;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6c1b1b), to(#894242));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #6c1b1b, #894242);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #6c1b1b, #894242);

	/* IE 10 */
	background: -ms-linear-gradient(top, #6c1b1b, #894242);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #6c1b1b, #894242);

}